<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a routerLink="/" class="navbar-brand" >{{ title }}</a>
          </div>
          <ul class="nav navbar-nav" appBgColor="pink" >
            <!-- <li class="active"><a >Home</a></li> -->
            <li><a routerLink="/about/tanyarat" >About</a></li>
            <li><a routerLink="/about/contact">Contact</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" >Type
                <span class="caret"></span></a>
                <ul class="dropdown-menu" >
                  <li><a routerLink="/" [queryParams]="{category: 'รองเท้า'}">รองเท้า</a></li>
                  <li><a routerLink="/" [queryParams]="{category: 'เสื้อ'}">เสื้อ</a></li>
                  <li><a routerLink="/" [queryParams]="{category: 'กระเป๋า'}">กระเป๋า</a></li>
                </ul>
              </li>
          </ul>
          <!-- <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/cart" style="font-size:20px;"><span id="itemCount"></span><span class="glyphicon glyphicon-shopping-cart"></span> </a></li>
          </ul> -->

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a routerLink="/cart">
                <span class="glyphicon glyphicon-shopping-cart" ></span>
                <span class="badge badge-danger"> {{ cartService.count }}</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <router-outlet></router-outlet>
 
</div>

